@media (max-width: 1200px) {
	.container__hd {
		padding: 0 10px;
	}

	h2 {
		font-size: 24px;
	}

	.describe-item__minus {
		padding: 0 0 0 20px;

		li::before {
			margin: calc(1em * 1.5 * 0.5) 0 0 -20px;
			width: 10px;
			height: 2px;
			box-shadow: 0px 0px 15px rgba(255, 0, 61, 0.8);
		}
	}

	.describe-item__arrow {
		padding: 0 0 0 22px;

		li::before {
			margin: calc(1em * 1.72 * 0.25) 0 0 -22px;
			width: 12px;
			height: 12px;
		}
	}

	.photo-gallery__nav,
	.reviews__nav {

		.photo-gallery__prev,
		.photo-gallery__next,
		.photo-gallery__prev-phone,
		.photo-gallery__next-phone,
		.reviews__prev-phone,
		.reviews__next-phone,
		.reviews__prev,
		.reviews__next {
			width: 40px;
			height: 40px;
		}

		.photo-gallery__prev,
		.photo-gallery__prev-phone,
		.reviews__prev-phone,
		.reviews__prev {
			span {
				width: 12px;
				height: 10px;
			}
		}

		.photo-gallery__next,
		.photo-gallery__next-phone,
		.reviews__next-phone,
		.reviews__next {
			span {
				width: 12px;
				height: 10px;
			}
		}
	}

	.head-page,
	.self-made {
		&__navigation-desktop {

			a {
				font-size: 16px;
				line-height: 50px;
			}
		}

		&__container-for-describe {
			h1 {
				font-size: 40px;
				line-height: 1.17em;
			}
		}
	}

	.any-questions,
	.form-page {

		&__first_name,
		&__number,
		&__email,
		&__comment {
			margin-bottom: 20px;
		}

		&__form-caption {
			font-size: 20px;
			line-height: 26px;
			margin: 25px 0 20px;
		}

		&__button-send {
			margin: 30px 0;
		}
	}

	.head-page {
		&__caption-wrapper {
			height: 674px;
		}

		@media (max-width: 991px) {
			&__caption-wrapper {
				background: url(styles/images/head-page/tablet/page-caption_bg_tablet.png) no-repeat top center;
				background-size: contain;
			}
		}

		&__container-for-list {
			margin: 30px 0 40px;

			li {
				font-size: 18px;
			}
		}

		&__button-1 {
			margin: 0;
		}

		&__container-for-items {
			justify-content: space-around;
			margin: 0 -10px;
		}

		&__item {
			// padding: 0 5px;
			padding: 0;
			width: 250px;
			height: 138px;
			box-shadow: 0px 10px 20px #FF003D;

			.head-page__item-image-1,
			.head-page__item-image-2,
			.head-page__item-image-3 {
				top: -42px;
				right: 30px;
				width: 60px;
				height: 60px;
				background-size: contain;
			}

			p {
				font-size: 14px;
			}
		}

		&__line {
			width: 90%;
			height: 3px;
			bottom: -3px;
			background: linear-gradient(149.7deg, #FF0000 18.44%, #822EED 139.14%);
		}
	}

	.about-author {
		&__container-for-describe {
			margin: 30px 0 0 0;
		}

		@media (max-width: 775px) {
			&__container-for-describe {
				margin: 30px 0 0 0;
				background: url(styles/images/head-page/tablet/about-author_bg-photo_tablet.png) no-repeat center center;
			}
		}

		&__container-for-text {
			bottom: -20px;
			left: 20px;
			width: 390px;
			padding: 35px 30px 0;

			p {
				font-size: 14px;
				line-height: 24px;
			}
		}

		h2 {
			margin-top: 60px;
		}

		.about-author__name {
			margin-top: -90px;
			right: 0;
			font-size: 70px;
		}

		&__icon-double-arrow {
			right: 55px;
			bottom: -190px;
			width: 120px;
			height: 120px;
			-webkit-animation: smallArrowTablet ease-in-out 1.7s infinite;
			animation: smallArrowTablet ease-in-out 1.7s infinite;
		}

		&__icon-double-arrow-big {
			display: none;
		}
	}

	.photo-gallery {
		&__wrapper {
			height: 555px;
			margin-top: 240px;
			background: linear-gradient(90deg, #410210 0%, #090015 100%);
		}

		h2 {
			top: -60px;
		}

		&__container-for-items,
		&__carousel-item {
			max-width: 770px;
		}

		&__image {
			background-position: center center;
			background-size: cover;
		}

		&__image-1 {
			left: 10px;
			bottom: -55px;
			width: 260px;
			height: 250px;
			background: url(styles/images/head-page/photo-gallery_photo_1.png) center center cover no-repeat;
		}

		&__image-2 {
			left: 60px;
			top: 60px;
			width: 350px;
			height: 200px;
			background: url(styles/images/head-page/photo-gallery_photo_2.png) center center cover no-repeat;
		}

		&__image-3 {
			left: 260px;
			bottom: 50px;
			width: 230px;
			height: 190px;
			background: url(styles/images/head-page/photo-gallery_photo_3.png) center center cover no-repeat;
		}

		&__image-4 {
			align-self: flex-end;
			margin: 30px 0 0 25px;
			width: 300px;
			height: 470px;
			background: url(styles/images/head-page/photo-gallery_photo_4.png) center center cover no-repeat;
		}
	}

	.open-programs {
		&__container-for-items {
			margin-top: 180px;
			align-items: center;
		}

		h2 {
			top: -70px;
			width: 98%;
			text-align: center;
			// margin:  0 auto;
		}

		@media (max-width: 875px) {
			&__container-for-items {
				align-items: flex-start;
			}

			h2 {
				text-align: left;
				width: 300px;
			}
		}

		p {
			max-width: 520px;
			font-size: 18px;
			line-height: 21px;
		}

		&__item-1,
		&__item-2 {
			width: 586px;
			height: 100px;
			padding: 0 30px;


			a {
				width: 160px;
				height: 40px;
				font-size: 16px;
				line-height: 19px;
			}

		}

		&__item-1 {
			margin: 0 0 30px 75px;
			background: url(styles/images/head-page/self-made_bg.png) no-repeat center center;
			background-size: cover;
		}

		&__item-2 {
			background: url(styles/images/head-page/coach-session_bg.png) no-repeat center center;
			background-size: cover;
		}

		&__double-arrow-down,
		&__double-arrow-right {
			background: url(styles/images/icons/open-programs_double_arrow_pink.svg) no-repeat center center;
			background-size: cover;
			width: 80px;
			height: 80px;
		}

		&__double-arrow-down {
			bottom: -95px;
			right: 250px;
			-webkit-animation: openProgramsArrowDownTablet ease-in-out 1.7s infinite;
			animation: openProgramsArrowDownTablet ease-in-out 1.7s infinite;
		}

		&__double-arrow-right {
			filter: drop-shadow(0px 0px 30px #822EED);
			top: 10px;
			right: 30px;
		}
	}

	.coaching-sessions {
		&__wrapper {
			min-height: 1500px;
			margin-top: 160px;
			background: url(styles/images/head-page/tablet/coaching-sessions_bg_tablet.png) no-repeat center center;
			background-position: center center;
			background-size: cover;
		}

		h2 {
			margin: 20px 0 30px 0;
		}

		p,
		li {
			font-size: 14px;
			line-height: 24px;
		}

		&__item-1,
		&__item-2,
		&__item-3 {
			display: flex;
			justify-content: center;
		}

		&__item-1 {

			padding-top: 30px;

			p {
				margin-bottom: 10px;
			}

			ul li {
				line-height: 24px;
			}
		}

		&__item-1-text {
			max-width: 340px;
			margin-right: 30px;
		}

		&__item-1-photo {
			margin-top: 60px;
			width: 360px;
			height: 520px;
			background: url(styles/images/head-page/tablet/coaching-sessions_photo-1_tablet.png) no-repeat center center;
			background-position: center center;
			background-size: cover;
		}

		&__item-1-block--gradient {
			margin-top: -45px;
			left: -10%;
			width: 110%;
			height: 90px;
		}

		&__item-2 {
			margin: 45px 0 40px;
			display: flex;
			flex-direction: column;
			align-items: center;

			.coaching-sessions__caption {
				margin-bottom: 10px;
			}
		}

		&__item-3-photo {
			width: 300px;
			height: 460px;
			background: url(styles/images/head-page/tablet/coaching-sessions_photo-2_tablet.png) no-repeat center center;
			background-position: center center;
			background-size: cover;
		}

		&__item-3-text {
			max-width: 420px;
		}

		&__item-3-block--gradient {
			margin: 20px 0;
			padding: 5px 5px 5px 0;
			background: linear-gradient(-90deg, rgba(255, 0, 0, 0.6) 0%, rgba(130, 46, 237, 0.6) 100%);

			p {
				max-width: 420px;

				strong {
					font-size: 14px;
					line-height: 24px;
				}
			}
		}

	}

	.cooperation-options {
		margin: 120px 0 0 0;

		&__container-for-items {
			justify-content: space-around;
		}

		&__item-1-text,
		&__item-2-text,
		li {
			font-size: 14px;
			line-height: 24px;
		}

		&__item-caption {
			font-size: 20px;
			line-height: 23px;
			margin: 0 0 10px 0;
		}

		&__item-note {
			font-size: 10px;
			line-height: 20px;
			margin: 10px 0;
		}

		&__container-for-price,
		ul {
			margin: 10px 0 0 0;
		}

		&__price {
			font-size: 20px;
			line-height: 36px;
		}

		&__item-1,
		&__item-2,
		&__item-3 {
			max-width: 230px;
		}

		&__item-1,
		&__item-2 {
			padding: 15px 8px;
		}

		&__item-1 {
			max-height: 530px;
		}

		&__item-3-text-1,
		&__item-3-text-2 {
			font-size: 12px;
			line-height: 20px;
		}

		&__item-3-text-1 {
			margin-bottom: 10px;
		}

		&__item-3-text-2 {
			margin-bottom: 15px;
		}

		&__button-1,
		&__button-2 {
			width: 230px;
			height: 50px;

			span {
				font-size: 14px;
				line-height: 16px;
			}
		}

		&__button-2 {
			margin: 15px 0 0 0;
		}

		&__icon-double-arrow {
			right: 75px;
			bottom: 50px;
			width: 80px;
			height: 80px;
			-webkit-animation: cooperationOptionsArrowPhone ease-in-out 1.7s infinite;
			animation: cooperationOptionsArrowPhone ease-in-out 1.7s infinite;
		}
	}

	.reviews {
		&__wrapper {
			padding-top: 40px;
			min-height: 691px;
			margin-top: 125px;
			background: url(styles/images/head-page/tablet/reviews_photo_bg_tablet.png) no-repeat center center;
			background-position: center center;
			background-size: cover;
		}

		&__paginator-line,
		&__paginator-line-phone {
			margin: 30px auto 35px;
		}

		&__carousel-item {
			height: 470px;
		}

		&__block {
			width: 370px;
			height: 235px;
		}

		&__container-for-text {
			max-width: 226px;

			p {
				font-size: 12px;
				line-height: 22px;
			}

			p strong {
				font-size: 12px;
				line-height: 22px;

			}

		}

		&__container-for-text.right {
			padding: 8px 8px 8px 20px;
		}

		&__container-for-text.left {
			padding: 8px 20px 8px 8px;
		}

		&__image-1,
		&__image-2,
		&__image-3,
		&__image-4 {
			width: 197px;
			height: 235px;
		}

		.reviews__nav {
			bottom: -65px;
			right: 100px;
		}
	}

	.work-together {
		&__container-for-describe {
			margin: 60px 0 0 0;
			height: 410px;
			background: url(styles/images/head-page/tablet/work-together_bg-photo_tablet.png) no-repeat center center;
			background-position: center center;
			background-size: cover;
		}

		&__container-for-text {
			left: 65px;
			width: 430px;
			height: 400px;
			padding: 20px 45px 0;

			p {
				font-size: 14px;
				line-height: 24px;
			}

			p strong {
				font-size: 14px;
				line-height: 24px;
			}
		}
	}

	.any-questions {
		margin: 130px 0 0;

		&__container-for-items {
			margin: 20px 0 0 0;
			min-height: 460px;
		}

		&__gradient-block {
			height: 312px;
		}

		&__author-photo {
			top: -75px;
			right: 50px;
			width: 360px;
			height: 460px;
			background: url(styles/images/head-page/tablet/any-questions_photo-1_tablet.png) no-repeat center center;
			background-position: center center;
			background-size: cover;
		}

		&__container-for-form {
			margin-left: 75px;
		}

		&__button-send {
			width: 240px;
			height: 45px;
			bottom: -125px;
			left: 0;
		}

		&__icon-double-arrow-big-right {
			display: none;
		}
	}

	.footer {
		&__wrapper {
			height: 406px;
		}

		&__caption {
			font-size: 20px;
		}

		li a {
			font-size: 14px;
		}

		.footer__ending {
			bottom: 0;
		}
	}
}



@media (max-width: 765px) {
	.text-line--left {
		padding-left: 20px;
	}

	.text-line--left:before {
		left: 5px;
	}

	.any-questions,
	.form-page {
		&__container-for-form {
			margin-left: 0;
		}

		&__form-caption {
			font-size: 20px;
			line-height: 26px;
			margin: 20px 0 35px -50px;
		}

		&__first_name,
		&__number,
		&__email,
		&__comment {
			width: 260px;
			font-size: 12px;
			line-height: 26px;
		}
	}

	.order {
		&__pop-up {
			width: 320px;
			height: 287px;
		}

		&__pop-up-image {
			margin: -40px 0 20px 0;
			width: 80px;
			height: 80px;
		}

		&__pop-up-caption {
			font-size: 24px;
			line-height: 34px;
		}

		&__pop-up-text {
			margin-top: 10px;
			font-size: 16px;
			line-height: 26px;
		}
	}

	.form-page {
		&__container-for-form {
			width: 320px;
			height: 435px;
			margin: auto;
		}

		&__close {
			top: 10px;
			right: 10px;
		}

		&__form-caption {
			margin: 20px 0 35px 0;
		}

		&__first_name,
		&__number,
		&__email,
		&__comment {
			width: 260px;
		}

		&__button-send {
			margin: 30px 0 20px;
			width: 220px;
			height: 50px;
		}
	}

	.head-page,
	.self-made {
		&__navigation-desktop {
			display: none;
		}

		&__social-media {
			top: 10px;
		}

		&__container-for-describe {
			h1 {
				font-size: 30px;
			}
		}
	}

	.header__hamburger {
		display: flex;
	}


	.head-page {
		&__caption-wrapper {
			padding-top: 10px;
			background: url(styles/images/head-page/tablet/page-caption_bg_tablet.png) no-repeat top center;
			background-size: cover;
		}

		&__container-for-list {
			margin: 30px 0 40px;

			li {
				font-size: 16px;
			}
		}


		&__button-1 {
			margin: 0;
		}

		&__container-for-items {
			flex-flow: column wrap;
			justify-content: flex-start;
			align-items: center;
		}

		&__item {
			padding: 0 5px;
			margin-bottom: 50px;
			width: 270px;
			height: 140px;
		}

	}

	.about-author {
		&__container-for-describe {
			background: url(styles/images/head-page/about-author_bg-photo.png) no-repeat;
			background-position: right center;
			background-size: cover;
		}

		&__container-for-text {
			bottom: -20px;
			padding: 35px 30px 0;

			p {
				font-size: 14px;
				line-height: 24px;
			}
		}

		h2 {
			margin-top: 400px;
		}

		.about-author__name {
			max-width: 240px;
			margin-top: -90px;
			right: 20px;
			font-size: 36px;
		}
	}

	.photo-gallery {
		&__container-for-items {
			display: none;
		}

		&__container-for-items-phone {
			display: block;

			.photo-gallery__carousel-item {
				max-width: 320px;
				margin: 0 auto;
			}
		}

		&__container-for-items-phone,
		&__carousel-item {
			max-width: 770px;
			height: 485px;
		}

		&__image-1-phone {
			position: absolute;
			z-index: 3;
			left: -10px;
			bottom: 0px;
			width: 150px;
			height: 150px;
			background: url(styles/images/head-page/phone/photo-gallery_photo_1-phone.png) no-repeat center center;
		}

		&__image-2-phone {
			position: absolute;
			z-index: 1;
			top: 30px;
			left: -10px;
			width: 260px;
			height: 200px;
			background: url(styles/images/head-page/phone/photo-gallery_photo_2-phone.png) no-repeat center center;
		}

		&__image-3-phone {
			position: absolute;
			z-index: 2;
			left: 125px;
			bottom: 50px;
			width: 185px;
			height: 235px;
			background: url(styles/images/head-page/phone/photo-gallery_photo_3-phone.png) no-repeat center center;
		}

		.photo-gallery__nav {
			bottom: -30px;
			right: 40px;
		}


	}

	.open-programs {
		&__container-for-items {
			margin-top: 180px;
			align-items: center;
		}

		h2 {
			top: -70px;
		}

		&__item-1,
		&__item-2 {
			width: 300px;
			height: 150px;
			padding: 15px 20px;
			flex-flow: column wrap;
			justify-content: space-around;
			align-items: flex-start;

			a {
				width: 185px;
				height: 45px;
				filter: drop-shadow(0px 0px 100px #822EED);
			}

		}

		&__item-1 {
			margin: 0 0 30px 0;
		}

		&__double-arrow-down {
			display: none;
		}

		&__double-arrow-right {
			display: none;
		}
	}

	.coaching-sessions {
		&__wrapper {
			margin-top: 50px;
			padding-bottom: 20px;
		}

		h2 {
			position: absolute;
			top: 0;
		}

		&__item-1-photo-container {
			margin-bottom: 65px;
		}

		&__item-1 {
			flex-flow: column-reverse wrap;
			justify-content: flex-start;
			align-items: center;
			padding-top: 30px;
		}

		&__item-1-text {
			max-width: 100%;
			margin-right: 30px;
		}

		&__item-1-photo {
			margin-top: 40px;
			width: 260px;
			height: 260px;
		}

		&__item-1-block--gradient {
			margin-top: -30px;
			left: -22%;
			width: 122%;
			height: 60px;
		}

		&__item-2 {
			margin: 20px 0;
		}

		&__item-3 {
			flex-flow: column wrap;
			justify-content: flex-start;
			align-items: center;
		}

		&__item-3-photo {
			width: 260px;
			height: 260px;
			margin-bottom: 20px;
		}

		&__item-3-text {
			max-width: 420px;
		}

		&__item-3-block--gradient:before {
			left: -10px;
			width: 10px;
		}

	}

	.cooperation-options {

		margin: 50px 0 0 0;

		h2 {
			margin-bottom: 20px;
		}

		&__container-for-items {
			flex-flow: column wrap;
			justify-content: flex-start;
			align-items: center;
		}

		&__item-1,
		&__item-2,
		&__item-3 {
			margin-bottom: 30px;
			max-width: 100%;
		}

		&__button-1,
		&__button-2 {
			width: 230px;
			height: 50px;
			left: 0;
			right: 0;
			margin: 15px auto 0;
		}

		&__button-1 {
			margin-top: 30px;
		}


		&__icon-double-arrow {
			// bottom: -100px;
			-webkit-animation: cooperationOptionsArrowPhone ease-in-out 1.7s infinite;
			animation: cooperationOptionsArrowPhone ease-in-out 1.7s infinite;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}

	.reviews {
		&__wrapper {
			min-height: 440px;
		}

		&__paginator-line {
			display: none;
		}

		&__paginator-line-phone {
			display: block;
		}

		&__container-for-items {
			display: none;
		}

		.reviews__container-for-items-phone {
			display: flex;
			justify-content: center;
		}

		&__carousel-item {
			height: 215px;
		}

		&__block {
			width: 300px;
			height: 215px;
		}

		&__container-for-text {
			max-width: 184px;
		}

		&__image-1,
		&__image-2,
		&__image-3,
		&__image-4 {
			width: 120px;
			height: 215px;
		}

		&__container-for-text.right {
			padding: 8px 8px 8px 10px;
		}

		.reviews__nav {
			bottom: -75px;
			right: 100px;
		}
	}

	.work-together {
		&__container-for-describe {
			margin: 40px 0 0 0;
			height: 410px;
			background-position: right center;
			background-size: cover;
		}

		&__container-for-text {
			left: 25px;
			height: 357px;
			padding: 20px 10px 0;
		}
	}


	.any-questions {
		// margin: 130px 0 0;

		&__container-for-items {
			margin: 20px 0 0 0;
			min-height: 460px;
		}

		&__container-for-form {
			align-items: center;
		}

		&__button-send {
			bottom: -115px;
			margin: 0 auto;
			left: 0;
			right: 0;
		}

		&__gradient-block {
			width: 100%;
			height: 312px;
		}

		&__author-photo {
			display: none;
		}
	}

}

@media (max-width: 568px) {
	.head-page {
		&__caption-wrapper {
			height: 555px;
			background: url(styles/images/head-page/phone/page-caption_bg_phone.png) no-repeat center center;
			background-size: cover;
		}
	}

	.about-author {
		h2 {
			margin-top: 520px;
		}

		&__container-for-text {
			top: 340px;
			width: 95%;
			margin: 0 auto;
			left: 0;
			right: 0;
			padding: 20px 10px 0;
		}

		.about-author__name {
			margin-top: 330px;
			right: 20px;
			font-size: 36px;
		}

		&__icon-double-arrow {
			right: 55px;
			bottom: -540px;
			width: 120px;
			height: 120px;
			-webkit-animation: smallArrowPhone ease-in-out 1.7s infinite;
			animation: smallArrowPhone ease-in-out 1.7s infinite;
		}
	}

	.photo-gallery {
		&__wrapper {
			margin-top: 650px;
		}
	}

	.work-together {
		&__container-for-text {
			left: 0;
			right: 0;
			margin: 0 auto;
			bottom: -220px;
			width: 280px;
		}
	}

	.any-questions {
		margin: 270px 0 0;

		&__container-for-items {
			margin: 20px -10px 0;
		}
	}

	.footer {
		.container__hd {
			display: flex;
			justify-content: center;
		}

		&__wrapper {
			height: 750px;
		}

		&__container-for-items {
			padding-top: 40px;
			flex-direction: column;
			justify-content: space-around;
			align-items: flex-start;
		}

		&__contacts,
		&__menu,
		&__social {
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 400px) {
	.about-author {
		&__container-for-describe {
			height: 435px;
			background: url(styles/images/head-page/phone/about-author_bg-photo_phone.png) no-repeat;
			background-position: center center;
			background-size: cover;
		}

		&__container-for-text {
			top: 260px;
		}

		.about-author__name {
			margin-top: 380px;
		}

		&__icon-double-arrow {
			-webkit-animation: smallArrowPhoneSmall ease-in-out 1.7s infinite;
			animation: smallArrowPhoneSmall ease-in-out 1.7s infinite;
		}
	}

	.reviews {
		.reviews__nav {
			right: 10px;
		}
	}
}