/* ----------------------------------------------------------------
	Page-caption BEGIN
-----------------------------------------------------------------*/
.head-page {
	&__navigation-desktop {
		padding-top: 20px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		max-width: 870px;
		height: 60px;

		li {
			margin-right: 5px;

			a {
				font-size: 18px;
				line-height: 50px;
				color: #FFFFFF;
				text-shadow: 0px 0px 20px #FF003D;
				// font-family: "RalewayBold";
				letter-spacing: 0.04em;
			}

			a:hover {
				font-family: "RalewayBold";
				color: #FF003D;
				// letter-spacing: 0.007em;
			}
		}
	}


	&__caption-wrapper {
		height: 674px;
		background: url(styles/images/head-page/page-caption_bg.png) no-repeat center center;
		background-position: center center;
		background-size: cover;
	}

	&__container-for-describe {
		margin: 105px 0 80px;

		h1 {
			font-family: "RalewayBold";
			font-size: 60px;
			line-height: 1.17em;

			background: linear-gradient(90deg, rgba(200, 177, 228, 1) 0%, rgba(255, 255, 255, 1) 10%, rgba(240, 202, 211, 1) 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			filter: drop-shadow(0px 0px 2px #FF0000);
		}

	}

	&__container-for-list {
		margin: 45px 0 50px;

		li {
			display: block;
			font-family: "RalewayRegular";
			font-size: 24px;
			line-height: 1.5em;
			color: #FFE6E6;
		}
	}

	&__button-1 {
		margin: 0 0 0 40px;
		width: 280px;
		height: 50px;
		background: linear-gradient(88.48deg, #FF0000 -19.67%, #822EED 100%);
		border: 0;
		font-size: 16px;
		line-height: 1.19em;
		color: #FFFFFF;
	}

	&__button-1:hover {
		cursor: pointer;
		filter: drop-shadow(0px 10px 20px rgba(255, 0, 61, 0.8));
	}

	&__container-for-items {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		position: relative;
		padding: 0 10px;
		width: 370px;
		height: 180px;
		background: linear-gradient(212.82deg, #340077 19.6%, #FF0000 179.41%);
		display: flex;
		justify-content: center;
		align-items: center;

		.head-page__item-image-1,
		.head-page__item-image-2,
		.head-page__item-image-3 {
			position: absolute;
			top: -47px;
			right: 60px;
			width: 80px;
			height: 80px;
			filter: drop-shadow(0px 0px 7px #FFFFFF);
		}

		.head-page__item-image-1 {
			background: url(styles/images/icons/icon_growth.svg) no-repeat center center;
		}

		.head-page__item-image-2 {
			background: url(styles/images/icons/icon_save_money.svg) no-repeat center center;
		}

		.head-page__item-image-3 {
			background: url(styles/images/icons/icon_contract.svg) no-repeat center center;
		}

		p {
			font-size: 18px;
			line-height: 1.56em;
			text-align: center;
			color: #FFFFFF;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}

	&__line {
		content: "";
		position: absolute;
		width: 90%;
		height: 0;
		bottom: 0;
		background: linear-gradient(149.7deg, #FF0000 18.44%, #822EED 139.14%);
	}

	&__item:hover {
		box-shadow: 0px 10px 20px #FF003D;
		transition: 0.15s linear;
		cursor: pointer;
	}

	&__social-media {
		position: absolute;
		top: 100px;
		right: 20px;
		min-height: 140px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
}

/* ----------------------------------------------------------------
	Page-caption END
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	About-author BEGIN
-----------------------------------------------------------------*/
.about-author {
	&__container-for-describe {
		position: relative;
		margin: 60px 0 0 0;
		height: 582px;
		background: url(styles/images/head-page/about-author_bg-photo.png) no-repeat center center;
		background-position: center center;
		background-size: cover;
		z-index: 2;
	}

	&__container-for-text {
		// margin: -50px 0 0  100px;
		position: absolute;
		bottom: -20px;
		left: 100px;
		width: 500px;
		height: 560px;
		padding: 35px 30px 0;
		// background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(20px);
		overflow-y: auto;
		-ms-overflow-style: none;
		background: rgba(0, 0, 0, 0.5);
		z-index: 4;

		p {
			color: #FFFFFF;
			font-size: 18px;
			line-height: 28px;
		}
	}

	&__container-for-text::-webkit-scrollbar {
		width: 0;
	}

	h2 {
		margin-top: 200px;
	}

	.about-author__name {
		z-index: 3;
		max-width: 540px;
		margin-top: -100px;
		right: 0;
		position: absolute;
		background: linear-gradient(180deg, #FF0000 0%, #822EED 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 80px;
		line-height: 1.17em;
		text-align: right;
	}

	&__icon-double-arrow {
		position: absolute;
		right: 138px;
		bottom: -235px;
		width: 132px;
		height: 132px;
		background: url(styles/images/icons/about-author__icon-double-arrow.svg) no-repeat center center;
		background-position: center center;
		background-size: cover;
		-webkit-animation: smallArrow ease-in-out 1.7s infinite;
		animation: smallArrow ease-in-out 1.7s infinite;
	}

	&__icon-double-arrow-big {
		position: absolute;
		left: -375px;
		top: -150px;
		width: 600px;
		height: 600px;
		background: url(styles/images/icons/about-author__icon-double-arrow-big.svg) no-repeat center center;
		background-position: center center;
		background-size: cover;
		-webkit-animation: bigArrow ease-in-out 1.7s infinite;
		animation: bigArrow ease-in-out 1.7s infinite;
	}
}

/* ----------------------------------------------------------------
	About-author END
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Photo-gallery BEGIN
-----------------------------------------------------------------*/

.photo-gallery {
	&__wrapper {
		height: 726px;
		margin-top: 340px;
		background: url(styles/images/head-page/photo-gallery-bg.png) no-repeat center center;
		background-position: center center;
		background-size: cover;
	}

	h2 {
		// margin-top: -200px;
		position: absolute;
		top: -100px;
	}

	&__container-for-items {
		position: relative;
		max-width: 1170px;
		max-height: 720px;
	}

	&__carousel-item {
		display: flex;
		flex-direction: column;
		position: relative;
		max-width: 1170px;
		max-height: 720px;
	}

	&__image {
		background-position: center center;
		background-size: contain;
		box-shadow: 0px 4px 100px rgba(130, 46, 237, 0.2);
	}

	&__image-1 {
		position: absolute;
		z-index: 4;
		left: 0;
		bottom: -90px;
		width: 400px;
		height: 400px;
		background: url(styles/images/head-page/photo-gallery_photo_1.png) no-repeat;
	}

	&__image-2 {
		position: absolute;
		z-index: 3;
		left: 100px;
		top: 80px;
		width: 520px;
		height: 264px;
		background: url(styles/images/head-page/photo-gallery_photo_2.png) no-repeat;
	}

	&__image-3 {
		position: absolute;
		z-index: 2;
		left: 400px;
		bottom: 100px;
		width: 343px;
		height: 300px;
		background: url(styles/images/head-page/photo-gallery_photo_3.png) no-repeat;
	}

	&__image-4 {
		z-index: 1;
		align-self: flex-end;
		margin: 30px 25px 0 0;
		width: 436px;
		height: 680px;
		background: url(styles/images/head-page/photo-gallery_photo_4.png) no-repeat;
	}


	.photo-gallery__nav {
		position: absolute;
		z-index: 5;
		bottom: 40px;
		right: 40px;
		display: flex;
		justify-content: space-between;

		.photo-gallery__prev,
		.photo-gallery__next {
			border: none;
			width: 60px;
			height: 60px;
		}

		.photo-gallery__prev {
			background: url(styles/images/icons/photo-gallery_arrow-active.svg) no-repeat center center, linear-gradient(137.97deg, #FF0000 -206.95%, #822EED 203.74%) !important;
		}

		.photo-gallery__next {
			background: url(styles/images/icons/photo-gallery_arrow-active.svg) no-repeat center center, linear-gradient(-47.97deg, #FF0000 -206.95%, #822EED 203.74%) !important;
			transform: rotate(180deg);
		}

		.photo-gallery__prev.disabled,
		.photo-gallery__next.disabled {
			cursor: not-allowed;
			background: url(styles/images/icons/photo-gallery_arrow-off.svg) no-repeat center center, #A1A1A1 !important;
		}

		.photo-gallery__prev:not(.disabled):hover,
		.photo-gallery__next:not(.disabled):hover {
			cursor: pointer;
			filter: drop-shadow(0px 0px 20px rgba(255, 0, 61, 0.8));
			transition: .2s linear;
		}
	}
}

/* ----------------------------------------------------------------
	Photo-gallery END
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Open-programs BEGIN
-----------------------------------------------------------------*/
.open-programs {
	&__container-for-items {
		position: relative;
		margin-top: 385px;
		display: flex;
		flex-flow: column wrap;
		align-items: flex-start;
	}

	h2 {
		position: absolute;
		top: -100px;
	}

	p {
		display: block;
		max-width: 520px;
		font-size: 36px;
		line-height: 42px;
		color: #FFFFFF;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		span {
			font-family: "RalewayBold";
		}
	}

	&__item-1,
	&__item-2 {
		width: 900px;
		height: 160px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 0 45px;


		a {
			display: block;
			width: 250px;
			height: 60px;
			font-size: 24px;
			line-height: 28px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #FFFFFF;
			background-color: #0D0D0D;
		}

		a:hover {
			filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
			transition: .2s linear;
		}
	}

	&__item-1 {
		margin: 0 0 45px 100px;
		background: url(styles/images/head-page/self-made_bg.png) no-repeat center center;
	}

	&__item-2 {
		background: url(styles/images/head-page/coach-session_bg.png) no-repeat center center;
	}

	&__double-arrow-down,
	&__double-arrow-right {
		position: absolute;
		background: url(styles/images/icons/open-programs_double_arrow_pink.svg) no-repeat center center;
		width: 76px;
		height: 90px;
	}

	&__double-arrow-down {
		filter: drop-shadow(0px 0px 50px #FF003D);
		bottom: -135px;
		right: 360px;
		-webkit-animation: openProgramsArrowDown ease-in-out 1.7s infinite;
		animation: openProgramsArrowDown ease-in-out 1.7s infinite;
	}

	&__double-arrow-right {
		transform: rotate(-90deg);
		filter: drop-shadow(0px 0px 50px #822EED);
		top: 35px;
		right: 20px;
	}
}

/* ----------------------------------------------------------------
	Open-programs END
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Coaching sessions BEGIN
-----------------------------------------------------------------*/
.coaching-sessions {
	&__wrapper {
		height: 1555px;
		margin-top: 340px;
		background: url(styles/images/head-page/coaching-sessions_bg.png) no-repeat center center;
		background-position: center center;
		background-size: cover;
	}

	h2,
	strong,
	p.coaching-sessions__caption {
		color: #FF003D;
	}

	h2 {
		margin: 20px 0 30px 0;
	}

	p.coaching-sessions__caption {
		font-family: "RalewayBold";
	}

	p,
	li {
		font-family: "RalewayRegular";
		font-size: 16px;
		line-height: 26px;
		color: #FFFFFF;
	}

	&__item-1 {
		padding-top: 70px;
		display: flex;
		justify-content: space-between;

		p {
			margin-bottom: 20px;
		}

		ul li {
			line-height: 30px;
		}
	}

	&__item-1-text {
		max-width: 600px;
	}

	&__item-1-photo-container {
		position: relative;
		max-width: 570px;
	}

	&__item-1-photo {
		position: relative;
		width: 500px;
		height: 560px;
		z-index: 2;
		background: url(styles/images/head-page/coaching-sessions_photo-1.png) no-repeat center center;
		background-position: center center;
		background-size: cover;
	}

	&__item-1-block--gradient {
		position: absolute;
		z-index: 1;
		background: linear-gradient(-90deg, #FF0000 0%, #70295C 100%);
		margin-top: -50px;
		left: -14%;
		width: 114%;
		height: 100px;
	}


	&__item-2 {
		margin: 80px 0 70px;
	}

	&__item-3 {
		display: flex;
		justify-content: flex-end;
	}

	&__item-3-photo {
		position: relative;
		width: 415px;
		height: 500px;
		z-index: 2;
		background: url(styles/images/head-page/coaching-sessions_photo-2.png) no-repeat center center;
		background-position: center center;
		background-size: cover;
		margin-right: 25px;
	}

	&__item-3-text {
		position: relative;
		max-width: 670px;
	}

	&__item-3-block--gradient {
		display: flex;
		justify-content: flex-end;
		position: relative;
		margin: 20px 0;
		padding: 25px;
		left: -500px;
		width: 1170px;
		height: 130px;
		background: linear-gradient(-90deg, rgba(255, 0, 0, 0.6) 0%, rgba(130, 46, 237, 0.6) 100%);

		p {
			display: inline-block;
			max-width: 650px;

			strong {
				font-size: 18px;
				color: #FFFFFF;
			}

		}
	}

	&__item-3-list-caption {
		margin: 20px 0 8px;

		strong {
			color: #FFFFFF;
		}
	}
}

/* ----------------------------------------------------------------
	Coaching sessions END
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Cooperation-options BEGIN
-----------------------------------------------------------------*/
.cooperation-options {
	margin: 170px 0 0 0;

	&__container-for-items {
		display: flex;
		justify-content: space-between;
	}

	h2 {
		margin-bottom: 50px;
	}

	&__item-1-text,
	&__item-2-text,
	li {
		font-family: "RalewayRegular";
		font-size: 18px;
		line-height: 28px;
		color: #FFFFFF;
	}

	&__item-caption {
		font-family: "RalewayBold";
		font-size: 36px;
		line-height: 42px;
		color: #FFFFFF;
		margin: 0 0 25px 0;
	}

	&__item-note {
		font-size: 14px;
		line-height: 24px;
		color: #C598FF;
		margin: 25px 0 50px;
	}

	&__container-for-price,
	ul {
		margin: 25px 0 0 0;
	}

	&__price {
		font-size: 24px;
		line-height: 36px;
		color: #FFFFFF;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 50px #FF003D;
	}

	&__item-1,
	&__item-2,
	&__item-3 {
		position: relative;
		max-width: 370px;
	}

	&__item-1,
	&__item-2 {
		padding: 15px;
		background: linear-gradient(212.82deg, #340077 19.6%, #FF0000 179.41%);
	}

	&__item-1 {
		height: 635px;
	}

	&__item-3-text-1,
	&__item-3-text-2 {
		font-size: 14px;
		line-height: 24px;
		color: #FFFFFF;
	}

	&__item-3-text-1 {
		margin-bottom: 20px;
	}

	&__item-3-text-2 {
		margin-bottom: 25px;
	}

	&__item-3-text-1 strong {
		color: #FF003D;
	}

	&__button-1,
	&__button-2 {
		display: block;
		width: 370px;
		height: 70px;

		display: flex;
		align-items: center;
		text-align: center;

		span {
			font-size: 18px;
			line-height: 21px;
			color: #FFFFFF;
		}
	}

	&__button-1:hover {
		filter: drop-shadow(0px 4px 20px rgba(255, 0, 61, 0.8));
	}

	&__button-2:hover {
		filter: drop-shadow(0px 4px 20px rgba(130, 46, 237, 0.8));
	}

	&__button-1 {
		background: linear-gradient(90deg, #FF0000, #822EED);
	}

	&__button-2 {
		margin: 25px 0 0 0;
		border-width: 3px 3px 3px 3px;
		border-style: solid;
		border-image-slice: 1;
		border-image-source: linear-gradient(90deg, #FF0000, #822EED);

		span {
			background: linear-gradient(90deg, #FF0000, #822EED);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__icon-double-arrow {
		position: absolute;
		right: 120px;
		bottom: 30px;
		width: 132px;
		height: 132px;
		background: url(styles/images/icons/cooperation-options_icon-double-arrow.svg) no-repeat center center;
		background-position: center center;
		background-size: cover;
		-webkit-animation: cooperationOptionsArrow ease-in-out 1.7s infinite;
		animation: cooperationOptionsArrow ease-in-out 1.7s infinite;
	}
}

/* ----------------------------------------------------------------
	Cooperation-options END
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Reviews BEGIN
-----------------------------------------------------------------*/

.reviews {
	&__wrapper {
		padding-top: 50px;
		height: 895px;
		margin-top: 125px;
		background: url(styles/images/head-page/reviews_photo_bg.png) no-repeat center center;
		background-position: center center;
		background-size: cover;
	}

}

/* ----------------------------------------------------------------
	Reviews END
-----------------------------------------------------------------*/











/* ----------------------------------------------------------------
	When should we work together BEGIN
-----------------------------------------------------------------*/
.work-together {
	h2 {
		margin: 85px 0 -20px;
	}

	&__container-for-describe {
		position: relative;
		margin: 60px 0 0 0;
		height: 640px;
		background: url(styles/images/head-page/work-together_bg-photo.png) no-repeat center center;
		background-position: center center;
		background-size: cover;
	}

	&__container-for-text {
		position: absolute;
		bottom: -20px;
		left: 100px;
		width: 670px;
		height: 630px;
		padding: 35px 65px 0;
		backdrop-filter: blur(20px);
		overflow-y: auto;
		-ms-overflow-style: none;
		background: rgba(0, 0, 0, 0.5);
		z-index: 4;

		p {
			color: #FFFFFF;
			font-size: 16px;
			line-height: 26px;
		}

		p strong {
			font-size: 24px;
			line-height: 30px;
			color: #FFFFFF;
		}
	}

	&__container-for-text::-webkit-scrollbar {
		width: 0;
	}
}

/* ----------------------------------------------------------------
	When should we work together END
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Any questions BEGIN
-----------------------------------------------------------------*/
.any-questions {
	margin: 200px 0 0;

	&__container-for-items {
		margin: 70px 0 0 0;
		position: relative;
		min-height: 685px;
	}

	&__gradient-block {
		position: absolute;
		z-index: 1;
		width: 1114px;
		height: 416px;
		background: linear-gradient(192.7deg, rgba(255, 0, 0, 0.7) -23.83%, rgba(130, 46, 237, 0.7) 79.18%);
	}

	&__author-photo {
		position: absolute;
		z-index: 3;
		top: -130px;
		right: 50px;
		width: 520px;
		height: 670px;
		background: url(styles/images/head-page/any-questions_photo-1.png) no-repeat center center;
		background-position: center center;
		background-size: cover;
	}

	&__container-for-form {
		margin-left: 100px;
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;

		button {
			display: flex;
			align-items: center;
			text-align: center;

			span {
				font-size: 16px;
				line-height: 19px;
				color: #FFFFFF;
				text-transform: uppercase;
			}
		}
	}

	&__form-caption {
		font-family: "RalewayBold";
		font-size: 30px;
		line-height: 26px;
		color: #FFFFFF;
		margin: 35px 0 50px;
	}

	&__first_name,
	&__number,
	&__email,
	&__comment {
		border: none;
		border-bottom: 1px solid #FFFFFF;
		background: transparent;
		width: 250px;
		height: 30px;
		font-family: "RalewayRegular";
		margin-bottom: 40px;
		color: #FFFFFF;
		font-size: 14px;
		line-height: 26px;
	}

	input::placeholder {
		color: #FFFFFF;
		font-size: 14px;
		line-height: 26px;
	}

	&__button-send {
		position: absolute;
		width: 320px;
		height: 55px;
		bottom: -150px;
		left: 50px;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		background: linear-gradient(88.48deg, #FF0000 -19.67%, #822EED 100%);

		span {
			font-size: 16px;
			line-height: 19px;
			color: #FFFFFF;
		}
	}

	&__button-send:hover {
		cursor: pointer;
		filter: drop-shadow(0px 4px 20px rgba(255, 0, 61, 0.8));
	}

	&__icon-double-arrow-big-right {
		transform: rotate(-90deg);
		position: absolute;
		left: -385px;
		top: 130px;
		width: 350px;
		height: 350px;
		background: url(styles/images/icons/about-author__icon-double-arrow-big.svg) no-repeat center center;
		background-position: center center;
		background-size: cover;
		-webkit-animation: bigArrowRight ease-in-out 1.7s infinite;
		animation: bigArrowRight ease-in-out 1.7s infinite;
	}
}







/* ----------------------------------------------------------------
	Any questions END
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Page-caption BEGIN
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page-caption END
-----------------------------------------------------------------*/














/* ----------------------------------------------------------------
	footer BEGIN
-----------------------------------------------------------------*/
.footer {
	&__wrapper {
		position: relative;
		height: 539px;
		background: #0D0B10;
	}

	&__container-for-items {
		padding-top: 55px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__caption {
		font-family: "RalewayBold";
		font-size: 24px;
		line-height: 50px;
		color: #822EED;
	}


	li a {
		font-size: 16px;
		line-height: 50px;
		color: #FFFFFF;
	}

	li a:hover {
		color: #FF003D;
	}

	&__social-media {
		width: 140px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__ending {
		position: absolute;
		bottom: 40px;
		left: 0;
		right: 0;

		p {
			font-size: 10px;
			line-height: 50px;
			text-align: center;
			color: #624785;
		}
	}
}

/* ----------------------------------------------------------------
	footer END
-----------------------------------------------------------------*/