/* ----------------------------------------------------------------
	self-made BEGIN
-----------------------------------------------------------------*/
.self-made {
	&__wrapper {
		height: 676px;
		background: url(styles/images/self-made/self-made_bg.png) no-repeat center center;
		background-position: center center;
		background-size: cover;
	}
	&__container-for-describe {
		margin: 175px 0 0;
	}

	&__comment {
		font-size: 24px;
		line-height: 36px;
		color: #FFE6E6;
	}

	&__button-1 {
		margin: 40px 0 0 0;
		width: 300px;
		height: 50px;
		background: linear-gradient(88.48deg, #FF0000 -19.67%, #822EED 100%);
		border: 0;
		font-size: 14px;
		line-height: 16px;
		color: #FFFFFF;
		text-transform: uppercase;
	}
}

/* ----------------------------------------------------------------
	self-made END
-----------------------------------------------------------------*/





/* ----------------------------------------------------------------
	Page-caption BEGIN
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page-caption END
-----------------------------------------------------------------*/





/* ----------------------------------------------------------------
	Page-caption BEGIN
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page-caption END
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page-caption BEGIN
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page-caption END
-----------------------------------------------------------------*/





/* ----------------------------------------------------------------
	Page-caption BEGIN
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page-caption END
-----------------------------------------------------------------*/





/* ----------------------------------------------------------------
	Page-caption BEGIN
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page-caption END
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page-caption BEGIN
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page-caption END
-----------------------------------------------------------------*/





/* ----------------------------------------------------------------
	Page-caption BEGIN
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page-caption END
-----------------------------------------------------------------*/





/* ----------------------------------------------------------------
	Page-caption BEGIN
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page-caption END
-----------------------------------------------------------------*/