
@-webkit-keyframes smallArrow {
	0% {bottom: -235px;}
	30% {bottom: -260px;}
	100% {bottom: -235px;}
}
@keyframes smallArrow {
	0% {bottom: -235px;}
	30% {bottom: -260px;}
	100% {bottom: -235px;}
}

@-webkit-keyframes bigArrow {
	0% {top: -150px;}
	30% {top: -115px;}
	100% {top: -150px;}
}
@keyframes bigArrow {
	0% {top: -150px;}
	30% {top: -115px;}
	100% {top: -150px;}
}

@-webkit-keyframes openProgramsArrowDown {
	0% {bottom: -135px;}
	30% {bottom: -155px;}
	100% {bottom: -135px;}
}
@keyframes openProgramsArrowDown {
	0% {bottom: -135px;}
	30% {bottom: -155px;}
	100% {bottom: -135px;}
}

@-webkit-keyframes openProgramsArrowRight {
	0% {right: 20px;}
	30% {right: -100px;}
	100% {right: 20px;}
}
@keyframes openProgramsArrowRight {
	0% {right: 20px;}
	30% {right: -100px;}
	100% {right: 20px;}
}