// @font-face {
// 	font-family: "RalewayItalic";
// 	src: url("styles/fonts/RalewayItalic.ttf") format("truetype");
// 	font-style: normal;
// 	font-weight: normal;
// }

// @font-face {
// 	font-family: "RalewayRegular";
// 	src: url("styles/fonts/RalewayRegular.ttf") format("truetype");
// 	font-style: normal;
// 	font-weight: normal;
// }

// @font-face {
// 	font-family: "RalewayBold";
// 	src: url("styles/fonts/RalewayBold.ttf") format("truetype");
// 	font-style: normal;
// 	font-weight: normal;
// }

p,
h1,
h2,
h3,
a {
	font-feature-settings: 'pnum'on, 'lnum'on;
}

.first-place-in-list {
	order: -1;
}

.container__hd {
	max-width: 1170px;
	margin: 0 auto;
}

.container__fhd {
	max-width: 1920px;
	margin: 0 auto;
}

.unvisible {
	display: none !important;
}

.opacityNone {
	opacity: 0;
}

strong {
	color: #56295A;
	font-family: "RalewayBold";
}

.describe__way {
	margin: 35px 0;
	font-family: 'RalewayRegular';
	font-size: 14px;
	line-height: 16px;

	a {
		text-decoration: none;
		color: #000000;
	}
}