@font-face {
	font-family: "RalewayItalic";
	src: url("../styles/fonts/RalewayItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RalewayRegular";
	src: url("../styles/fonts/RalewayRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RalewayBold";
	src: url("../styles/fonts/RalewayBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

p,
h1,
h2,
h3,
a {
	font-family: "RalewayRegular";
	font-feature-settings: 'pnum'on, 'lnum'on;
}

body {
	// background-color: #10081B;
	background-color: #000000;
}

// .first-place-in-list {
// 	order: -1;
// }

.container__hd {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

.container__fhd {
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
}

.unvisible {
	display: none !important;
}

.opacityNone {
	opacity: 0;
}

strong {
	font-family: "RalewayBold";
}

.describe-item__minus {
	padding: 0 0 0 40px;

	li::before {
		content: '';
		margin: calc(1em * 1.5 * 0.5) 0 0 -30px;
		position: absolute;
		background: url(styles/images/icons/icon_minus.svg) no-repeat;
		background-position: center left;
		background-size: cover;
		width: 15px;
		height: 4px;
		box-shadow: 0px 0px 20px rgba(255, 0, 61, 0.8);
	}
}

.describe-item__arrow {
	padding: 0 0 0 40px;

	li::before {
		content: '';
		margin: calc(1em * 1.55 * 0.18) 0 0 -30px;
		position: absolute;
		background: url(styles/images/icons/point_arrow.svg) no-repeat;
		background-position: center left;
		background-size: cover;
		width: 20px;
		height: 20px;
	}
}



.text-line--left {
	position: relative;
}

.text-line--left:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 100%;
	left: -20px;
	top: 0;
	background: linear-gradient(-93deg, #FF0000 18%, #822EED 140%);
	box-shadow: 0px 0px 30px #FF003D;
}

h2 {
	font-family: "RalewayBold";
	font-size: 48px;
	line-height: 1.17em;
	color: #FFFFFF;
}

.head-page,
.footer {

	&__social-media-facebook,
	&__social-media-instagram,
	&__social-media-linkedn,
	&__social-media-youtube {
		height: 20px;
		width: 20px;
	}


	&__social-media-facebook:hover,
	&__social-media-instagram:hover,
	&__social-media-linkedn:hover,
	&__social-media-youtube:hover {
		filter: drop-shadow(0px 0px 5px #FF003D);
		cursor: pointer;
	}

	&__social-media-facebook {
		background: url(styles/images/icons/facebook_icon_footer.svg) no-repeat center center;
	}

	&__social-media-instagram {
		background: url(styles/images/icons/instagram_icon_footer.svg) no-repeat center center;
	}

	&__social-media-linkedn {
		background: url(styles/images/icons/linkedn_icon_footer.svg) no-repeat center center;
	}

	&__social-media-youtube {
		background: url(styles/images/icons/youtube_icon_footer.svg) no-repeat center center;
	}

	&__social-media-facebook:hover {
		background: url(styles/images/icons/facebook_icon_on_footer.svg) no-repeat center center;
	}

	&__social-media-instagram:hover {
		background: url(styles/images/icons/instagram_icon_on_footer.svg) no-repeat center center;
	}

	&__social-media-linkedn:hover {
		background: url(styles/images/icons/linkedn_icon_on_footer.svg) no-repeat center center;
	}

	&__social-media-youtube:hover {
		background: url(styles/images/icons/youtube_icon_on_footer.svg) no-repeat center center;
	}
}

// Nav buttons
.photo-gallery__nav,
.reviews__nav {

	.photo-gallery__prev,
	.photo-gallery__next,
	.reviews__prev,
	.reviews__next {
		border: none;
		width: 60px;
		height: 60px;
	}

	.photo-gallery__prev,
	.reviews__prev {
		background: url(styles/images/icons/photo-gallery_arrow-active.svg) no-repeat center center, linear-gradient(137.97deg, #FF0000 -206.95%, #822EED 203.74%) !important;
	}

	.photo-gallery__next,
	.reviews__next {
		background: url(styles/images/icons/photo-gallery_arrow-active.svg) no-repeat center center, linear-gradient(-47.97deg, #FF0000 -206.95%, #822EED 203.74%) !important;
		transform: rotate(180deg);
	}

	.photo-gallery__prev.disabled,
	.photo-gallery__next.disabled,
	.reviews__prev.disabled,
	.reviews__next.disabled {
		cursor: not-allowed;
		background: url(styles/images/icons/photo-gallery_arrow-off.svg) no-repeat center center, #A1A1A1 !important;
	}

	.photo-gallery__prev:not(.disabled):hover,
	.photo-gallery__next:not(.disabled):hover,
	.reviews__prev:not(.disabled):hover,
	.reviews__next:not(.disabled):hover {
		cursor: pointer;
		filter: drop-shadow(0px 0px 20px rgba(255, 0, 61, 0.8));
		transition: .2s linear;
	}
}

//header 

.head-page,
.self-made {
	&__navigation-desktop {
		padding-top: 20px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		max-width: 870px;
		height: 60px;

		li {
			margin-right: 5px;

			a {
				font-size: 18px;
				line-height: 50px;
				color: #FFFFFF;
				text-shadow: 0px 0px 20px #FF003D;
				// font-family: "RalewayBold";
				letter-spacing: 0.04em;
			}

			a:hover {
				font-family: "RalewayBold";
				color: #FF003D;
				// letter-spacing: 0.007em;
			}
		}
	}

	&__container-for-describe {
		h1 {
			font-family: "RalewayBold";
			font-size: 60px;
			line-height: 1.17em;

			background: linear-gradient(90deg, rgba(200, 177, 228, 1) 0%, rgba(255, 255, 255, 1) 10%, rgba(240, 202, 211, 1) 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			filter: drop-shadow(0px 0px 2px #FF0000);
		}

	}

	&__social-media {
		position: absolute;
		top: 100px;
		right: 20px;
		min-height: 140px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
}